html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
    text-align: center;
    color: white;
     -webkit-text-stroke: 1px black;
     
}

header{ 
	padding: 30px 0 30px 0;    
}

p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

h2{
    text-align:center;
}

.form-control{
  margin: 2px 2px 2px 2px;
}

:root{
  --corPrimaria: #e3e3e4;
  --corSecundaria: #61677A;
  --corPrimariaB: #D8D9DA;
  --corSecundariaB: #FFF6E0;
}

.bg-cinza{
  background-color: var(--corPrimaria);
}

/* Scrollbar geral */
.scrollbar,
.scrollbar2 {
  height: calc(100vh - 140px); /* Ajuste o valor para considerar a altura do header ou margens */
  overflow-y: auto;
  scrollbar-width: thin; /* para Firefox */
  scrollbar-color: #ccc transparent;
}

/* Webkit (Chrome, Edge, Safari) */
.scrollbar::-webkit-scrollbar,
.scrollbar2::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track,
.scrollbar2::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar2::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  border: 2px solid transparent; /* cria espaço entre o thumb e o track */
  background-clip: content-box;
}

.nav-scroll {
  background-color: #f8f9fa;
  padding: 4px;
  border-radius: 10px;
}

.nav-link {
  margin: 2px 0;
  text-transform: capitalize;
  color:black;
}

.nav-link:hover {
  background-color: #dededfd5;
}

.nav-link.checked::after {
  content: " ✔️";
  margin-left: 5px;
  font-weight: bold;
  color:black;
}

.bigImage{
  width: 30%;
  height: 30%;     
}

.bordaRedonda{
border-radius: 10px;
}

/* Media query para telas com altura maior */
@media (orientation: portrait) {
  .scrollbar {
     height: calc(40vh - 120px);
  }

  .scrollbar2 {
    height: 60vh; /* A scrollbar2 ocupará 60% da altura da tela */
  }

  .container {
    display: flex;
  }
  
  .col-3 {
    order: 2; /* Posiciona o item1 após o item2 */
    width: 100%;
  }
  
  .col-9 {
    order: 1; /* Posiciona o item2 antes do item1 */
    width: 100%;
  }

    main {
    margin-left: 10px; 
    margin-right: 10px; 
  }

}

/* Para telas com largura maior*/
@media (orientation: landscape) { 
  main {  
    margin-left: 40px; 
    margin-right: 40px;
    margin-bottom: 20px;
  }

}